aiohttp==3.13.1
APScheduler==3.10.4
beautifulsoup4==4.14.2
fastapi==0.120.4
httpx==0.28.1
itsdangerous==2.1.2
passlib==1.7.4
pydantic==2.12.3
pydantic_settings==2.11.0
PyJWT==2.9.0
PyJWT==2.10.1
python_bcrypt==0.3.2
Requests==2.32.5
selenium==4.38.0
SQLAlchemy==2.0.36
undetected_chromedriver==3.0.0
webdriver_manager==4.0.2
