fastapi==0.120.4
uvicorn[standard]==0.32.0
gunicorn==23.0.0

SQLAlchemy==2.0.36
asyncpg==0.29.0  # for Heroku Postgres (or psycopg[binary])

pydantic==2.12.3
pydantic-settings==2.11.0

APScheduler==3.10.4
aiohttp==3.13.1
requests==2.32.5
beautifulsoup4==4.14.2

selenium==4.38.0
undetected-chromedriver==3.0.0
webdriver-manager==4.0.2

python-multipart==0.0.12  # needed for Form(...) in FastAPI
itsdangerous==2.1.2
passlib==1.7.4
bcrypt==4.2.0   # instead of python_bcrypt
PyJWT==2.10.1   # keep only one
